<?xml version="1.0"?>

<launch>  
  <arg name="robot_name" default="r0" />
  <arg name="publish_joint" default="false" />
  <arg name="sim" default="false" />
  <arg name="launch_control" default="false" />
  
  <group ns="$(arg robot_name)">
    <node pkg="nodelet" type="nodelet" name="airskin_manager"  args="manager" output="screen" />
    <group unless="$(arg sim)">
      <node pkg="nodelet" type="nodelet" name="AirSkinNodelet" args="load tuw/AirSkinNodelet airskin_manager" output="screen" >
        <rosparam command="load" file="$(find tuw_airskin)/cfg/airskin.yaml" />
      </node>
    </group>
    <group if="$(arg launch_control)" >
      <node pkg="nodelet" type="nodelet" name="AirSkinControlNodelet" args="load tuw/AirSkinControlNodelet airskin_manager" output="screen" >
        <rosparam command="load" file="$(find tuw_airskin)/cfg/airskin.yaml" />
        <param name="publish_joint" value="$(arg publish_joint)" />
      </node>
    </group> 
  </group>
</launch>
